.animated-gradient {
    background: linear-gradient(
        90deg,
        #a855f7,
        #ec4899,
        #06b6d4,
        #a855f7
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-flow 10s ease infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes pulse {
  0%, 100% {
    opacity: .2;
  }
  50% {
    opacity: .0;
  }
}

.pulse-animation {
  animation: pulse 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}




@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-animation {
  animation: bounce 5s infinite;
}




@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ping-animation {
  animation: ping 5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

